*.iml
.DS_Store
.cxx
.externalNativeBuild
.gradle
.kotlin
/.idea/AndroidProjectSystem.xml
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/codeStyles/Project.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/detekt.xml
/.idea/gradle.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/libraries
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/other.xml
/.idea/runConfigurations.xml
/.idea/studiobot.xml
/.idea/workspace.xml
build
captures
local.properties
