*.iml
.DS_Store
.cxx/
.externalNativeBuild/
.gradle/
.kotlin/
/.idea/*
!/.idea/copyright/
/captures/
/local.properties
build/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
