name: Build debug APK
on:
  push:
  pull_request:
jobs:
  build_debug_apk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: zulu
      - uses: gradle/gradle-build-action@v2
      - run: ./gradlew assembleDebug
      - uses: actions/upload-artifact@v3
        with:
          name: Debug APK
          path: sample/build/outputs/apk/debug/**.apk
