name: Build
on:
  push:
    branches: [master]
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 17
      - uses: gradle/actions/setup-gradle@v5
      - run: |
          ./gradlew build -x lint -x test
          cd sample/app/build/outputs/apk/debug
          mv app-debug.apk android-sample-debug.apk
      - uses: actions/upload-artifact@v5
        with:
          name: android-sample-debug
          path: sample/app/build/outputs/apk/debug/android-sample-debug.apk
