name: Check formatting
on:
  push:
    branches: [master]
  pull_request:
jobs:
  check-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 24
      - run: |
          curl -sSL -o ktfmt.jar https://github.com/facebook/ktfmt/releases/download/v0.59/ktfmt-0.59-with-dependencies.jar
          java -jar ktfmt.jar --dry-run --google-style --set-exit-if-changed .
