name: Update docs
on:
  workflow_dispatch:
  push:
jobs:
  update_docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2.3.4
      - name: Restore Gradle cache
        uses: actions/cache@v2.1.4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: ${{ runner.os }}-gradle-
      - name: Set up Java 11
        uses: actions/setup-java@v1.4.3
        with:
          java-version: 11
      - name: Grant execution permission to Gradle Wrapper
        run: chmod +x gradlew
      - name: Generate docs
        run: ./gradlew dokkaHtmlMultiModule
      - name: Update docs
        continue-on-error: true
        run: |
          git config --global user.email "96002241+vicochartbot@users.noreply.github.com"
          git config --global user.name "Vico Chart Bot"
          git add docs
          git commit -m "Update docs" -m "[skip ci]"
          git remote set-url origin https://vicochartbot:${{ secrets.VICO_CHART_BOT_PAT }}@github.com/VicoChart/VicoChart.git
          git push origin
